<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @profile.user %>
</p>

<p>
  <strong>Student:</strong>
  <%= @profile.student %>
</p>

<p>
  <strong>Dob:</strong>
  <%= @profile.dob %>
</p>

<p>
  <strong>Class:</strong>
  <%= @profile.class %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @profile.gender %>
</p>

<p>
  <strong>Nationality:</strong>
  <%= @profile.nationality %>
</p>

<p>
  <strong>Religion:</strong>
  <%= @profile.religion %>
</p>

<p>
  <strong>Father name:</strong>
  <%= @profile.father_name %>
</p>

<p>
  <strong>Father occupation:</strong>
  <%= @profile.father_occupation %>
</p>

<p>
  <strong>Father designation:</strong>
  <%= @profile.father_designation %>
</p>

<p>
  <strong>Email:</strong>
  <%= @profile.email %>
</p>

<p>
  <strong>Income:</strong>
  <%= @profile.income %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @profile.phone_number %>
</p>

<p>
  <strong>Mother name:</strong>
  <%= @profile.mother_name %>
</p>

<p>
  <strong>Mother occupation:</strong>
  <%= @profile.mother_occupation %>
</p>

<p>
  <strong>Telephone:</strong>
  <%= @profile.telephone %>
</p>

<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
