<%= form_for(@myform) do |f| %>
  <% if @myform.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@myform.errors.count, "error") %> prohibited this myform from being saved:</h2>

      <ul>
      <% @myform.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :student_name %><br>
    <%= f.text_field :student_name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
