<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @outlet.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @outlet.user %>
</p>

<%= link_to 'Edit', edit_outlet_path(@outlet) %> |
<%= link_to 'Back', outlets_path %>
